body {
    background-image: linear-gradient(to bottom, lightblue, yellow, red, lightblue);
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    background-color: #34eb7d;
}

h2 {
    color: black;

}

p {
    color: black;
    text-align: center;
}

h6 {
    color: black;
    text-align: center;
}

table,
td {
    border: 1px solid #333;
    text-align: center;
}

tr {
    text-align: center;
}

thead,
tfoot {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
}

span:hover {
    text-decoration: underline;
    color: crimson;
}

a:hover {
    text-decoration: underline;
    color: crimson;

}

dd {
    text-align: center;
}

dt {
    text-align: center;
}

hr {
    color: black;
    text-align: center;
    border: 2px solid #34eb7d;

}

img {
    border-radius: 50%
}

img:hover {
    border-radius: 0%;
    transition: 1s;
}

div {
    text-align: center;
}

h1:hover {
    color: darkslategray;
}

h2:hover {
    color: darkslategray;
}

h3:hover {
    color: darkslategray;
}
